/* Couleurs */
$first-color: #9356dc;
$second-color: #ff79da;
$third-color: #99e2d0;
$city-color: #eaeaea;
$grey-color: #f6f6f6;
$filter-icon-color: #7e7e7e;
$filter-hover-color: #f5edff;
$footer-color: #353535;

/* Layout */
$max: 90%;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin maxWidth {
  max-width: $max;
  margin: auto;
}
