$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablette: 768px;
$laptop: 1024px;
$laptop-l: 1440px;

/* Le sité à été créer sur un modèle "mobile-m" */

@media (min-width: 290px) and (max-width: 319px) {
  /* --Index.html-- */
  /* Section filtre */
  .filter-card .filter-text p {
    font-size: 0.9rem;
  }

  /* Section Menu */
  .restaurant-layout .food-card .food-img img {
    position: static !important;
    /* bottom: 1rem; */
  }

  /* --Page Menu-- */
  .menu-margin-1 {
    bottom: 6rem;
    margin-bottom: -6rem;
  }

  .menu-margin-2 {
    bottom: 5rem;
    margin-bottom: -5rem;
  }

  .menu-margin-3 {
    bottom: 5rem;
    margin-bottom: -5rem;
  }

  .menu-margin-4 {
    bottom: 5rem;
    margin-bottom: -5rem;
  }

  .menu-title h2 {
    font-size: 1.3rem !important;
  }
}

@media (min-width: $mobile-s) {
  /* --Page Menu-- */
  .menu-margin-1 {
    bottom: 5.5rem;
    margin-bottom: -5.5rem;
  }

  .menu-margin-2 {
    bottom: 2.5rem;
    margin-bottom: -2.5rem;
  }

  .menu-margin-3 {
    bottom: 5rem;
    margin-bottom: -5rem;
  }

  .menu-margin-4 {
    bottom: 5rem;
    margin-bottom: -5rem;
  }

  .menu-title h2 {
    font-size: 1.4rem !important;
  }
}

@media (min-width: $mobile-m) {
  /* --Page Menu-- */
  .menu-margin-1 {
    bottom: 5rem;
    margin-bottom: -5rem;
  }

  .menu-margin-2 {
    bottom: 2.5rem;
    margin-bottom: -2.5rem;
  }

  .menu-margin-3 {
    bottom: 3rem;
    margin-bottom: -3rem;
  }

  .menu-margin-4 {
    bottom: 2.5rem;
    margin-bottom: -2.5rem;
  }
}

@media (min-width: $mobile-l) {
  /* --Page Menu-- */
  .menu-margin-1 {
    bottom: 3rem;
    margin-bottom: -3rem;
  }

  .menu-margin-2 {
    bottom: 0rem;
    margin-bottom: -0rem;
  }

  .menu-margin-3 {
    bottom: 1rem;
    margin-bottom: -1rem;
  }

  .menu-margin-4 {
    bottom: 0.5rem;
    margin-bottom: -0.5rem;
  }
}

@media (min-width: $tablette) {
  /* --Index-- */
  .hero {
    height: 350px !important;

    h1 {
      font-size: 1.8rem !important;
    }
  }

  /* Filter */
  .filter-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .filter-card {
      padding: 2rem;
      flex-direction: column;
      @include flexCenter;

      .filter-icon i {
        font-size: 2.5rem !important;
      }

      .filter-text p {
        padding-left: 0 !important;
        text-align: center;
        margin-top: 0.5rem;
      }

      .number {
        left: auto;
        top: -10px;
      }
    }
  }

  /* Menu */

  .restaurant-layout h2 {
    font-size: 2rem;
  }

  .grid-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 15px;
  }

  /* Footer */
  footer nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 5px;
  }
}
@media (min-width: $laptop) {
  .filter-text {
    justify-content: center;
  }
}
