<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../dist/css/main.css" />
    <link
      rel="shortcut icon"
      href="../assets/img/logo/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="../assets/img/logo/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap"
      rel="stylesheet"
    />
    <title>Le délice des sens</title>
  </head>
  <body>
    <header class="menu_header">
      <nav>
        <a href="../index.html"><i class="fas fa-arrow-left"></i></a>
      </nav>
      <a href="../index.html" class="home_logo">
        <img src="../assets/img/logo/ohmyfood@2x.svg" alt="logo" />
      </a>
    </header>
    <main>
      <div class="menu-hero">
        <img
          src="../assets/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg"
          alt="restaurant-1"
        />
      </div>
      <section class="menu menu-margin-4">
        <div class="menu-title">
          <h2>Le délice des sens</h2>
          <i class="far fa-heart"></i>
        </div>
        <div class="menu-card-info">
          <h3>ENTRÉES</h3>
          <span></span>
          <div class="card card-1">
            <div class="card-text">
              <h4>Tartare de thon</h4>
            </div>
            <div class="card-info">
              <p class="ligne_1">Assaisonné au yuzu</p>
              <p class="ligne_2">25€</p>
            </div>
            <div class="card-order">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>
          <div class="card card-2">
            <div class="card-text">
              <h4>Bouchée de homard croustillant</h4>
            </div>
            <div class="card-info">
              <p class="ligne_1">Et sa farandole de petits légumes</p>
              <p class="ligne_2">35€</p>
            </div>
            <div class="card-order">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>
          <div class="card card-3">
            <div class="card-text">
              <h4>Velouté de cèpes</h4>
            </div>
            <div class="card-info">
              <p class="ligne_1">Aux truffes</p>
              <p class="ligne_2">20€</p>
            </div>
            <div class="card-order">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>
        </div>
        <div class="menu-card-info">
          <h3>PLATS</h3>
          <span></span>
          <div class="card card-1">
            <div class="card-text">
              <h4>Poulet rôti aux herbes de provence</h4>
            </div>
            <div class="card-info">
              <p class="ligne_1">Et sa crème de truffe</p>
              <p class="ligne_2">40€</p>
            </div>
            <div class="card-order">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>
          <div class="card card-2">
            <div class="card-text">
              <h4>Langouste rôtie</h4>
            </div>
            <div class="card-info">
              <p class="ligne_1">Et ses légumes de saison</p>
              <p class="ligne_2">35€</p>
            </div>
            <div class="card-order">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>
          <div class="card card-3">
            <div class="card-text">
              <h4>Côte de boeuf angus</h4>
            </div>
            <div class="card-info">
              <p class="ligne_1">Et sa purée de panais</p>
              <p class="ligne_2">44€</p>
            </div>
            <div class="card-order">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>
        </div>
        <div class="menu-card-info">
          <h3>DESSERTS</h3>
          <span></span>
          <div class="card card-1">
            <div class="card-text">
              <h4>Farandole de desserts</h4>
            </div>
            <div class="card-info">
              <p class="ligne_1">Du chef</p>
              <p class="ligne_2">18€</p>
            </div>
            <div class="card-order">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>
          <div class="card card-2">
            <div class="card-text">
              <h4>Crème brulée</h4>
            </div>
            <div class="card-info">
              <p class="ligne_1">Revisitée</p>
              <p class="ligne_2">22€</p>
            </div>
            <div class="card-order">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>
          <div class="card card-3">
            <div class="card-text">
              <h4>Tiramisu</h4>
            </div>
            <div class="card-info">
              <p class="ligne_1">À la noisette</p>
              <p class="ligne_2">23€</p>
            </div>
            <div class="card-order">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>
        </div>
        <div class="btn-layout">
          <button class="btn-pink btn-menu">Commander</button>
        </div>
      </section>
    </main>
    <footer>
      <nav>
        <a href="index.html" class="logo-link">ohmyfood</a>
        <ul>
          <li>
            <a href="#"
              ><i class="fas fa-utensils"></i>&nbsp;Proposer un restaurant</a
            >
          </li>
          <li>
            <a href="#"
              ><i class="fas fa-hands-helping"></i>&nbsp;Devenir partenaire</a
            >
          </li>
          <li><a href="#">Mentions légales</a></li>
          <li><a href="mailto:contact@ohmyfood.com">Contact</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
