<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../dist/css/main.css" />
    <link
      rel="shortcut icon"
      href="../assets/img/logo/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap"
      rel="stylesheet"
    />
    <title>À la française</title>
  </head>
  <body>
    <header class="menu_header">
      <nav>
        <a href="../index.html"><i class="fas fa-arrow-left"></i></a>
      </nav>
      <a href="../index.html" class="home_logo">
        <img src="../assets/img/logo/ohmyfood@2x.svg" alt="logo" />
      </a>
    </header>
    <main>
      <section class="menu-hero">
        <img
          src="../assets/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg"
          alt="restaurant-1"
        />
      </section>
      <section class="menu menu-margin-3">
        <div class="menu-title">
          <h2>À la française</h2>
          <i class="far fa-heart"></i>
        </div>
        <div class="menu-card-info">
          <h3>ENTRÉES</h3>
          <span></span>
          <div class="card card-1">
            <div class="card-text">
              <h4>Tartare de poulpe acidulé</h4>
            </div>
            <div class="card-info">
              <p class="ligne_1">Aux zests d'orange</p>
              <p class="ligne_2">25€</p>
            </div>
            <div class="card-order">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>
          <div class="card card-2">
            <div class="card-text">
              <h4>Velouté de légumes d'antan</h4>
            </div>
            <div class="card-info">
              <p class="ligne_1">Carotte,panais,topinambour</p>
              <p class="ligne_2">35€</p>
            </div>
            <div class="card-order">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>
          <div class="card card-3">
            <div class="card-text">
              <h4>Soupe à l'oignon</h4>
            </div>
            <div class="card-info">
              <p class="ligne_1">Revisité</p>
              <p class="ligne_2">20€</p>
            </div>
            <div class="card-order">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>
        </div>
        <div class="menu-card-info">
          <h3>PLATS</h3>
          <span></span>
          <div class="card card-1">
            <div class="card-text">
              <h4>Coquilles Saint-Jacques</h4>
            </div>
            <div class="card-info">
              <p class="ligne_1">Accompagné d'une purée de panais</p>
              <p class="ligne_2">40€</p>
            </div>
            <div class="card-order">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>
          <div class="card card-2">
            <div class="card-text">
              <h4>Magret de canard</h4>
            </div>
            <div class="card-info">
              <p class="ligne_1">Et parmentier de pommes de terres</p>
              <p class="ligne_2">35€</p>
            </div>
            <div class="card-order">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>
          <div class="card card-3">
            <div class="card-text">
              <h4>Pigeonneau d'Ille-et-Vilaine</h4>
            </div>
            <div class="card-info">
              <p class="ligne_1">Sur son lit de gnocchis aux légumes</p>
              <p class="ligne_2">44€</p>
            </div>
            <div class="card-order">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>
        </div>
        <div class="menu-card-info">
          <h3>DESSERTS</h3>
          <span></span>
          <div class="card card-1">
            <div class="card-text">
              <h4>Pétales de violettes glacés</h4>
            </div>
            <div class="card-info">
              <p class="ligne_1">Et purée de noisettes</p>
              <p class="ligne_2">18€</p>
            </div>
            <div class="card-order">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>
          <div class="card card-2">
            <div class="card-text">
              <h4>Fondant au chocolat</h4>
            </div>
            <div class="card-info">
              <p class="ligne_1">Revisité</p>
              <p class="ligne_2">22€</p>
            </div>
            <div class="card-order">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>
          <div class="card card-3">
            <div class="card-text">
              <h4>Millefeuille croustillant</h4>
            </div>
            <div class="card-info">
              <p class="ligne_1">Myrtilles et pâte d'amande</p>
              <p class="ligne_2">23€</p>
            </div>
            <div class="card-order">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>
        </div>
        <div class="btn-layout">
          <button class="btn-pink btn-menu">Commander</button>
        </div>
      </section>
    </main>
    <footer>
      <nav>
        <a href="index.html" class="logo-link">ohmyfood</a>
        <ul>
          <li>
            <a href="#"
              ><i class="fas fa-utensils"></i>&nbsp;Proposer un restaurant</a
            >
          </li>
          <li>
            <a href="#"
              ><i class="fas fa-hands-helping"></i>&nbsp;Devenir partenaire</a
            >
          </li>
          <li><a href="#">Mentions légales</a></li>
          <li><a href="mailto:contact@ohmyfood.com">Contact</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
