@import "../mixin";
@import "../variables";

main {
  overflow: hidden;

  .menu-hero {
    display: block;
    width: 100%;
    height: 280px;
    clip-path: ellipse(105% 100% at 50% 0%);
    z-index: -1;

    img {
      width: 100%;
    }

    .img-menu-2 {
      position: relative;
      bottom: 8rem;
    }
  }

  .menu {
    width: 100%;
    height: auto;
    background-color: $grey-color;
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
    position: relative;
    padding: 1.5rem;
    z-index: 1;

    &-title {
      margin-top: 0.5rem;
      display: flex;
      align-items: center;

      h2 {
        width: 80%;
        font-family: Shrikhand;
        font-size: 1.5rem;
      }

      i {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        font-size: 1.3rem;
        transition: 1s;

        &:hover {
          font-weight: 600;
          transform: scale(1.05);
          color: rgba(207, 105, 219, 1);
        }
      }
    }

    &-card-info {
      margin-top: 1.5rem;

      h3 {
        font-size: 1.2rem;
        font-weight: 400;
        margin-left: 0.2rem;
      }

      span {
        display: block;
        margin: 0.2rem 0rem 0 0.2rem;
        width: 10%;
        height: 3px;
        background-color: $third-color;
      }

      .card {
        min-width: 95%;
        margin: 0.8rem 0;
        overflow: hidden;
        background-color: $white-color;
        padding: 0.8rem 0.6rem;
        border-radius: 15px;
        box-shadow: 0 3px 4px -4px gray;
        position: relative;
        transform: translateY(40px);
        opacity: 0;
        animation-name: progress;
        animation-duration: 0.9s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        @keyframes progress {
          0% {
            transform: translateY(40px);
            opacity: 0;
          }

          100% {
            transform: translateY(0);
            opacity: 1;
          }
        }

        &-text {
          h4 {
            line-height: 1.8rem;
            width: calc(100% - 60px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        &-info {
          display: flex;
          justify-content: space-between;

          .ligne_1 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .ligne_2 {
            font-weight: 600;
            padding-right: 1rem;
          }
        }

        &-order {
          position: absolute;
          top: 0;
          right: 0px;
          transform: translateX(60px);
          width: 60px;
          height: 100%;
          background-color: $third-color;
          @include flexCenter;
          cursor: pointer;

          i {
            color: $white-color;
            font-size: 1.2rem;
          }
        }

        /* Hover de la carte */

        &:hover {
          .card-info {
            animation-name: info;
            animation-duration: 0.4s;
            animation-fill-mode: forwards;
            animation-timing-function: linear;

            @keyframes info {
              0% {
                width: 100%;
              }

              100% {
                width: calc(100% - 60px);
              }
            }
          }
          .card-order {
            animation-name: order;
            animation-duration: 0.4s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;

            @keyframes order {
              0% {
                transform: translateX(60px);
              }

              100% {
                transform: translateX(0);
              }
            }

            i {
              animation-name: rotation;
              animation-duration: 0.4s;
              animation-timing-function: linear;
              animation-fill-mode: forwards;

              @keyframes rotation {
                0% {
                  transform: rotate(0);
                }

                100% {
                  transform: rotate(360deg);
                }
              }
            }
          }
        }
      }

      .card-1 {
        animation-delay: 0.15s;
      }

      .card-2 {
        animation-delay: 0.35s;
      }

      .card-3 {
        animation-delay: 0.8s;
      }

      .card-4 {
        animation-delay: 1.6s;
      }
    }
  }

  .btn-layout {
    margin: 2rem 0;
    @include flexCenter;

    .btn-menu {
      transition: 0.5s;

      &:hover {
        transform: scale(1.15);
      }
    }
  }
}
